*.aux
*.bak
*.bbl
*.blg
*.ilg
*.log
*.out
*.synctex.gz
*.pyc
~$*.docx
.spyderproject
.Rproj.user
.RData
.Rhistory
/data/cdfa_annual_reports.xlsx
/data/cdfa_county_annual_reports.RDS
/data/top_crop_selection.xlsx
.spyproject
